<div class="statistics__container">
    <div class="statistics__upper-section">

        <h2 class="statistics__title">Advanced Statistics</h2>

        <p class="statistics__parragraph">
            Track how your links are performing across the web with our
            advanced statistics dashboard.
        </p>

    </div>

    <div class="statistics__lower-section">
       

        <div class="statistics__card">
            <div class="statistics__icon-container">
                <img src="../../../../../assets/images/icon-brand-recognition.svg" alt="" class="statistics__icon">
            </div>
            <h3 class="statistics__title">Brand Recognition</h3>

            <p class="statistics__parragraph">
                Boost your brand recognition with each click. Generic links don’t
                mean a thing. Branded links help instil confidence in your content.
            </p>
        </div>

        <div class="statistics__card">
            <div class="statistics__icon-container">
                <img src="../../../../../assets/images/icon-detailed-records.svg" alt="" class="statistics__icon">
            </div>
            <h3 class="statistics__title">Detailed Records</h3>

            <p class="statistics__parragraph">
                Gain insights into who is clicking your links. Knowing when and where
                people engage with your content helps inform better decisions.
            </p>

        </div>

        <div class="statistics__card">

            <div class="statistics__icon-container">
                <img src="../../../../../assets/images/icon-fully-customizable.svg" alt="" class="statistics__icon">
            </div>

            <h3 class="statistics__title">Fully Customizable</h3>

            <p class="statistics__parragraph">
                Improve brand awareness and content discoverability through customizable
                links, supercharging audience engagement.
            </p>

        </div>

    </div>
</div>