
.filtering-container{
    padding: 1em 0 0 ;
    width: 94%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown__option{
    cursor: pointer;

    &:hover{
        background-color: var(--clr-Dark-Blue-1);
    }

  }
  
  .search-bar{
    margin-top: 1em;
    border: none;
    padding: 1em;
    
    font-size: .9rem;
    background-color: var(--clr-actual-header);
    color: var(--clr-actual-text);
    outline: none;
    border-radius: .2rem;
    width: 20em;
    box-shadow: 0 0  10px -5px var(--clr-Dark-Blue-1);
  }
  
  .dropdown{
    margin-top: 1em;
    font-size: .9rem;
    position: relative;
    min-height: 0;
    background-color: var(--clr-actual-header);
    padding: 1em 2em;
    border-radius: .2em;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 0  10px -5px var(--clr-Dark-Blue-1);
  }
  
  .dropdown__options{
    box-shadow: 0 0 10px 1px var(--clr-actual-header);
    position: absolute;
    height: 0;
    min-height: 0;
    overflow: hidden;
    user-select: none;
    transition: min-height 500ms ; 
    width: 100%;
    background-color: var(--clr-actual-header);
    left: 0%;
    top: 110%;
    margin-top: .2rem;
    border-radius: .2em;
    box-shadow: 0 0  10px -5px var(--clr-Dark-Blue-1);
  }
  
  .dropdown:hover>.dropdown__options{
    min-height: 205px;
  }
  
  .dropdown__option{
    padding: .5em;
  }
  
  .dropdown__option:first-child{
    padding-top: 1em;
  }
  
  .dropdown__option:last-child{
    padding-bottom: 1em;
  }
  
  .dropdown__option:hover{
    background-color: var(--clr-actual-body);
  }
  
  .dropdown__option.selected{
    background-color: var(--clr-actual-body);
    border: 1px solid var(--clr-Dark-Blue-1);
  }