@use "styles/upper-container";
@use "styles/lower-container";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap");
body {
  background-color: var(--clr-Dark-blue-1);
  font-family: "Inter", sans-serif;
  font-size: clamp(14px, 2vw, 18px);
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
}

:root {
  --clr-day-font: black;
  --clr-night-font: white;

  --bg-color-day: rgba(0, 0, 0, 0.253);
  --bg-color-night: rgb(0, 0, 0);

  --clr-font-actual: var(--clr-night-font);
  --clr-bg-actual: var(--bg-color-night);
}

body.day {
  --clr-font-actual: --clr-day-font;
  --clr-bg-actual: --bg-color-day;
}

body.night {
  --clr-font-actual: var(--clr-night-font);
  --clr-bg-actual: var(--bg-color-night);
}

.darkeen__main-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.356);
  z-index: 0;
}

.main-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;

  height: 100vh;
  overflow: hidden;
  z-index: 500;
}

.lower-container {
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-position: 0 -50vh;
  backdrop-filter: blur(2px);
  transition: transform 1s;

  background-color: rgba(0, 0, 0, 0.514);
}

.main-container__day {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./assets/bg-image-daytime.jpg);
}

.main-container__night {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./assets/bg-image-nighttime.jpg);
}

.toggle-details:checked + .main-container > .upper-container,
.toggle-details:checked + .main-container > .lower-container {
  transform: translateY(-50%);
}

.toggle-details:checked
  + .main-container
  > .upper-container
  > .upper-container__right-section
  > .upper-container__label-btn {
  &::before {
    content: "Less";
  }

  &::after {
    transform: rotate(180deg);
  }
}