@use "info-container";
@use "search-bar";
@use "map";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body,
button,
*::after,
*::before {
  font-family: "Rubik", sans-serif;
  font-size: clamp(14px, 2vw, 18px);
}

:root {
  --clr-Dark-Gray-1: hsl(0, 0%, 17%)
  --clr-Dark-Gray-2: hsl(0, 0%, 59%)
}

body {
  background-color:rgb(238, 238, 238);
  display: grid;
  justify-content: center;

  background-image: url(../images/pattern-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100vw 16em;
}

footer{
  color: var(--clr-Dark-Gray-1);
}

.app__title{
  color: whitesmoke;
  text-align: center;
  font-weight: 400;
  margin: 0;
  user-select: none;
}

.app__address-container {
  display: grid;
  height: 19em;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  margin-top: 1em;
}