.started-footer__container{
    background-color: var(--clr-primary-violet);
    text-align: center; 
    background-image: url(../../../../assets/images/bg-boost-desktop.svg);
    background-size: cover;
    padding: 1em 0 2em 0;
    color: white;
}


