<div class="main__container">
  <h1 class="counter__title">We're launching soon</h1>

  <div class="counter__counters-container">
    <app-counter [value]="days" [type]="'days'"></app-counter>
    <app-counter [value]="hours" [type]="'hours'"></app-counter>
    <app-counter [value]="minutes" [type]="'minutes'"></app-counter>
    <app-counter [value]="seconds" [type]="'seconds'"></app-counter>
  </div>

  <div class="media__container">
    <button aria-label="Go to facebook" class="btn facebook"></button>
    <button aria-label="Go to pinterest" class="btn instagram"></button>
    <button aria-label="Go to intagram" class="btn pinterest"></button>
  </div>
</div>