
<div class="started-header__container">
  
    <div class="started-header__right-section">
        <img src="../../../../assets/images/illustration-working.svg" alt="Working illustration" class="started-header__image">
    </div>

    <div class="started-header__left-section">
        <h1 class="started-header__title">
            More than just shorter links
        </h1>
    
        <p class="started-header__text">
            Build your brand’s recognition and get detailed insights 
            on how your links are performing.
        </p>
    
        <button class="started__button bg-primary-cyan btn"  aria-label="Get started">Get Started</button>
    </div>

</div>