.upper-container {
  position: relative;
  height: 100%;
  padding-left: 6%;
  transition: transform 1s;
  display: grid;
  grid-template-columns: auto auto;

  &__left-section {
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__right-section {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10% 25%;
  }

  &__label-btn {
    background-color: var(--clr-night-font);
    color: var(--bg-color-night);
    padding: 1.5em 5.5em 1em 1em;
    border-radius: 10em;
    position: relative;
    cursor: pointer;
    content: "Less";

    &::before {
      content: "More";
      position: absolute;
      left: 1em;
      top: 0.7em;
    }

    &::after {
      content: "";
      background-image: url(assets/icon-arrow-up.svg);
      background-size: cover;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      background-color: black;
      position: absolute;
      right: 0.5em;
      top: 0.2em;

      transition: transform 0.5s;
    }
  }

  &__quote {
    opacity: 0.7;
    position: relative;

    & :first-child {
      margin: 0 0 1em 0;
      width: clamp(14em, 30vw, 30em);
    }

    &-update {
      width: 1.8em;
      height: 1.8em;

      position: relative;
      left: 1em;
      top: 0.5em;
      background: none;
      cursor: pointer;
      border: none;

      background-image: url(./assets/icon-refresh.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70%;
    }
  }

  &__hour-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__greeting {
    position: relative;
    padding: 0.5em 3em;

    background-repeat: no-repeat;
    background-position: left;

    &.sun {
      background-image: url(assets/icon-sun.svg);
    }

    &.moon {
      background-image: url(assets/icon-moon.svg);
    }
  }

  &__section {
    font-size: 10rem;
    font-size: clamp(3rem, 15vw, 10rem);
    font-weight: 900;

    & span:first-child {
      font-size: 0.5em;
      font-weight: 700;
    }
  }
}

@media (max-width: 500px) {
  .upper-container__right-section {
    position: absolute;
    bottom: -1em;
    right: -4em;
  }
}