*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

img {
  display: inline-block;
  max-width: 100%;
}

footer {
  margin-top: auto;
  padding: 1em;
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--Bright-blue);
}