@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light_grey: hsl(217, 12%, 63%);
  --medium_grey: hsl(216, 12%, 54%);
  --dark_blue: hsl(213, 19%, 18%);
  --very_dark_blue: hsl(216, 12%, 8%);

  --test: hsl(210, 20%, 18%);
}

* *::after,
*::before {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  font-family: "Overpass", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  background-color: var(--very_dark_blue);
}

footer {
  padding: 1em;
  margin-top: auto;
  color: snow;
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}

.card {
  width: 280px;
  height: 300px;
  padding: 1em;
  border-radius: 0.8em;
  margin: auto;
  background-color: var(--dark_blue);
}

.card p {
  color: var(--medium_grey);
  font-size: 0.85em;
  line-height: 1.5em;
}

.card__star {
  background-image: url("./images/icon-star.svg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.card__confirmed-rating {
  border-radius: 10em;
  background-color: var(--dark_blue);
  filter: brightness(1.2);
  color: var(--orange);
  padding: 0.5em;
  margin: 1em 3em 0 3em;
  text-align: center;
}

.card__confirmed-icon {
  background-image: url("./images/illustration-thank-you.svg");
  height: 6em;
  margin-top: 1em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.card__title {
  color: var(--white);
}

.card__submit {
  background-color: var(--orange);
  color: var(--white);
  border-radius: 10em;
  width: 100%;
  padding: 1em;
  text-transform: uppercase;
  margin-top: 1.5em;
  transition: background-color 250ms, color 250ms;
}

.card__submit:disabled{
    cursor: not-allowed;
    filter: grayscale(1);
}

.card__submit:hover {
  background-color: var(--white);
  color: var(--orange);
}

.card__circle-btn {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  background-color: var(--dark_blue);
  filter: brightness(1.2);
  color: var(--medium_grey);
  transition: background-color 250ms, color 250ms;
}

.card__rating-container {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.card__rating-container > .card__circle-btn.active {
  background-color: var(--medium_grey);
  color: var(--white);
}

.card__rating-container > .card__circle-btn:hover {
  background-color: var(--orange);
  color: var(--white);
}

.btn {
  cursor: pointer;
  border: none;
}

.txt_center {
  text-align: center;
}

.hidden{
    display: none;
}