@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray: hsl(212, 45%, 89%);
  --clr-gray-blue: hsl(218, 13%, 47%);
  --clr-dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--clr-gray);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: clamp(14px, 4vw, 18px);
}

footer {
  margin-top: auto;
  padding: 1em;
}

.card {
  background-color: var(--clr-white);
  border-radius: 1em;
  width: 20em;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
  }

  &__qr {
    max-width: 100%;
    border-radius: 2em;
    padding: 1em;
    display: block;
  }

  &__heading,
  &__description {
    text-align: center;
  }

  &__heading {
    font-size: 1.4em;
    padding: 0 1em;
    color: var(--clr-dark-blue);
  }

  &__description {
    color: var(--clr-gray-blue);
    padding: 2em 1.2em;
  }
}
