@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');


:root{
    
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    --white: hsl(0, 0%, 100%);
    --dark-blue-1: hsl(236, 21%, 26%);
    --dark-blue-2: hsl(235, 16%, 14%);
    --dark-blue-3: hsl(234, 17%, 12%);

}


body{
    font-family: 'Red Hat Text', sans-serif;
    font-size: clamp(14px, 2vw, 16px);
    margin: 0;
    min-height: 100vh;
}

h1{
    margin-top: 0;
}
